name: Discord Commit Notifications

on:
  push:
    branches:
      - "**"

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - name: Send message to Discord
        uses: Ilshidur/action-discord@d2594076f8c2a4c1f2c91d8e0f7e5b3a9c0d1234
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
